.form-button {
  max-width: 200px;
}
.form-group {
  margin-right: 10px;
}
.form-lable {
  margin-right: 10px;
}
.panel{
  margin-top: 20px;
}
.table-margin{
  margin: 20px 0px;
}

button > a:link{
  color: white;
}
button > a:visited{
  color: white;
}
button > a:hover{
  color: white;
  text-decoration: none;
}
.btn-inline {
  margin-left: 10px;
}