.container.container-dark
  .panel.pannel-background
    .panel-heading.text-center.pannel-heading-background
      lable Country Data  
    .panel-body
      h4.text-center.main-heading  Add country and code to view top 25 trending videos of your country
      .form-inline.text-center
        .form-group
          label.form-lable Country Name:
          input.form-input(type='text', ng-model='country.name')
        .form-group
          label.form-lable Country code:
          input.form-input(type='text', ng-model='country.code')
      br
      .row.text-center
        button.btn.btn-success.form-button(ng-click='addCountry()') Add country
  .row.text-center
    h4 You can view countries list and codes 
      a.cursor-pointer(ng-click='openWikiPage()')
        span here.