.container-fluid
  .row.text-center
    h2.text-capitalize List of Countries and code
  .row.text-center
    p(style='display: inline') Create new country code
    button.btn.btn-success(style='display: inline; margin-left: 10px')
      a.text-light(href='/add-country') Create
  table.table.table-striped.table-margin.table-styling
    thead
      tr
        th.text-capitalize.text-center country
        th.text-capitalize.text-center code
        th.text-capitalize.text-center Edit
        th.text-capitalize.text-center Delete
    tbody
      tr(ng-repeat='country in countries')
        td.text-capitalize.text-center {{country.name}}
        td.text-capitalize.text-center {{country.code}}
        td.text-center
          button.btn.btn-success.text-light
            a(href='/edit-country/{{country.code}}') Edit
        td.text-center
          button.btn.btn-danger(ng-click='deleteClicked(country.code)') Delete