.container
  .row.text-center.margin-10.title-bar(style='margin-bottom: 0px;')
    h4 {{ video.title }}
  .row.text-center.margin-10.bg-dark(style='margin-top: 0px;')
    video.max-width-100#main-video()
  .row.text-center.margin-10
    i.glyphicon.glyphicon-thumbs-up.icon-style &nbsp;{{ video.reactions.likes}}&nbsp;
    i.glyphicon.glyphicon-thumbs-down.icon-style &nbsp;{{ video.reactions.dislikes}}&nbsp;
    i.fa.fa-eye.icon-style &nbsp;{{ video.views}}&nbsp;
  .row.margin-10
    h5.text-muted Description
    p.text-muted {{ video.description }}
  //- .row.margin-10.text-center
  //-   a(ng-click='previousPageClicked()')
  //-     i.fa.fa-arrow-left.margin-10
  //-   a(ng-click='nextPageClicked()')
  //-     i.fa.fa-arrow-right.margin-10
  .row.margin-10
    div(ng-repeat='x in videos')
      .col-sm-4
        a(href='/video/{{ x.video.videoId }}')
          img#image.thumbnail-display(src='{{ x.video.thumbnailUrl }}')
          h6.text-center.max-width-90 Trend No: {{ x.trendingNo }}
          h6.text-center.max-width-90 {{ x.video.title }}
  .row.margin-10.text-center
    a.cursor-pointer(ng-click='previousPageClicked()')
      i.fa.fa-arrow-left.margin-10
    a.cursor-pointer(ng-click='nextPageClicked()')
      i.fa.fa-arrow-right.margin-10
      